In [37]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.model_selection import train_test_split

from sklearn import tree

%matplotlib inline

In [6]:
df = pd.read_csv('../data/titanic3.csv')

In [7]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
# https://www.kaggle.com/arthurtok/introduction-to-ensembling-stacking-in-python

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
pclass       1309 non-null float64
survived     1309 non-null float64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null float64
parch        1309 non-null float64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB

## Filling out categorical data

In [33]:
# Cabin is null for some passengers, so creating a new feature
df['has_cabin'] = 1
df.loc[(df['cabin'].isnull() == True), 'has_cabin'] = 0

In [25]:
df['family_size'] = df['sibsp'] + df['parch'] + 1
df['is_alone'] = df['family_size'].apply(lambda x: 1 if x == 1 else 0 )

In [41]:
#There are a couple of nulls for this, so we fill them with the most statistically significant port
df['embarked'].fillna('S', inplace=True)

In [47]:
df['fare'].fillna(df['fare'].mean(), inplace=True)

In [51]:
df['fare_quartile'] = pd.qcut(df['fare'],4, labels=[1,2,3,4])

In [52]:
df['fare_quartile'].unique()

[4, 3, 1, 2]
Categories (4, int64): [1 < 2 < 3 < 4]

In [9]:
enc.fit(df['sex'])

TypeError: '<' not supported between instances of 'float' and 'str'